name: Upload Python Package

on:
  release:
    types:
      - published

permissions: {}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.2.2

      - name: Set up Python
        uses: actions/setup-python@v6.0.0
        with:
          python-version: "3.x"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install setuptools build

      - name: Build
        run: |
          python -m build

      - name: Upload dists
        uses: actions/upload-artifact@v5.0.0
        with:
          name: "dist"
          path: "dist/"
          if-no-files-found: error
          retention-days: 5

  publish:
    name: Upload release to PyPI
    runs-on: ubuntu-latest
    needs: "build"
    environment:
      name: release
      url: https://pypi.org/p/pycognito
    permissions:
      id-token: write
    steps:
    - name: Download dists
      uses: actions/download-artifact@v6.0.0
      with:
        name: "dist"
        path: "dist/"

    - name: Publish dists to PyPI
      # Pinned to a commit for security purposes
      uses: pypa/gh-action-pypi-publish@76f52bc884231f62b9a034ebfe128415bbaabdfc # v1.12.4
